@media screen and (max-width: 1900px) {
  #playContainer {
    zoom: 0.8;
    -moz-transform: scale(0.9);
    -moz-transform-origin: 0 0;
  }
}

@media screen and (max-width: 1450px) {
  #playContainer {
    zoom: 0.8;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 0 0;
  }
}

@media screen and (max-width: 1320px) {
  #playContainer {
    zoom: 0.65;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
  }
}

@media screen and (max-width: 1030px) {
  #playContainer {
    zoom: 0.4;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
  }
}
