body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1923px) {
  #playContainer {
    zoom: 0.98;

    -moz-transform: scale(0.98, 0.98);
    -moz-transform-origin: top center;
  }
}

@media screen and (max-width: 1810px) {
  #playContainer {
    zoom: 0.96;
    -moz-transform-origin: top center;
  }
}

@media screen and (max-width: 1700px) {
  #playContainer {
    zoom: 0.94;

    -moz-transform: scale(0.96 0.96);
    -moz-transform-origin: top center;
  }
}

@media screen and (max-width: 1645px) {
  #playContainer {
    zoom: 0.87;

    -moz-transform: scale(0.93, 0.93);
    -moz-transform-origin: top center;
  }
}

@media screen and (max-width: 1590px) {
  #playContainer {
    zoom: 0.79;

    -moz-transform: scale(0.91);
    -moz-transform-origin: top center;
  }
}

@media screen and (max-width: 1515px) {
  #playContainer {
    zoom: 0.735;

    -moz-transform: scale(0.85);
  }
}

@media screen and (max-width: 1460px) {
  #playContainer {
    zoom: 0.705;

    -moz-transform: scale(0.705);
  }
}

@media screen and (max-width: 1350px) {
  #playContainer {
    zoom: 0.67;

    -moz-transform: scale(0.67);
  }
}

@media screen and (max-width: 1330px) {
  #playContainer {
    zoom: 0.65;

    -moz-transform: scale(0.65);
  }
}

@media screen and (max-width: 1280px) {
  #playContainer {
    zoom: 0.622;

    -moz-transform: scale(0.622);
  }
}

@media screen and (max-width: 1235px) {
  #playContainer {
    zoom: 0.605;

    -moz-transform: scale(0.605);
  }
}

@media screen and (max-width: 1190px) {
  #playContainer {
    zoom: 0.588;

    -moz-transform: scale(0.588);
  }
}

@media screen and (max-width: 1140px) {
  #playContainer {
    zoom: 0.57;

    -moz-transform: scale(0.57);
  }
}

@media screen and (max-width: 1080px) {
  #playContainer {
    zoom: 0.53;

    -moz-transform: scale(0.53);
  }
}

@media screen and (max-width: 1000px) {
  #playContainer {
    zoom: 0.5;

    -moz-transform: scale(0.5);
  }
}

@media screen and (min-width: 2300px) {
  #formContainer {
    zoom: 1.1;

    -moz-transform: scale(1.1);
  }
}

@media screen and (max-width: 1450px) {
  #formContainer {
    zoom: 0.7;

    -moz-transform: scale(0.7);
  }
}

@media screen and (max-width: 1550px) {
  #userProfile {
    zoom: 0.8;

    -moz-transform: scale(0.8);
  }
}

@media screen and (max-width: 1230px) {
  #userProfile {
    zoom: 0.7;

    -moz-transform: scale(0.7);
  }
}

@media screen and (max-width: 1080px) {
  #userProfile {
    zoom: 0.6;

    -moz-transform: scale(0.6);
  }
}

@media screen and (max-width: 940px) {
  #userProfile {
    zoom: 0.5;

    -moz-transform: scale(0.5);
  }
}
