@media only screen and (max-width: 1600px) {
  #playContainer {
    zoom: 0.9;
    -moz-transform: scale(.9);
    -moz-transform-origin: 0 0;
  } 
}

@media only screen and (max-width: 1450px) {
  #playContainer {
    zoom: 0.8;
    -moz-transform: scale(.8);
    -moz-transform-origin: 0 0;
  } 
}

@media only screen and (max-width: 1220px) {
  #playContainer {
    zoom: 0.7;
    -moz-transform: scale(.7);
    -moz-transform-origin: 0 0;
  } 
}

@media only screen and (max-width: 1030px) {
  #playContainer {
    zoom: 0.6;
    -moz-transform: scale(0.6);
    -moz-transform-origin: 0 0;
  } 
}